
  h2 {
    font-size: 1.2rem;
  }

  ul {
    font-size: 1rem;
  }
}

/* Ajustements pour les petits écrans (smartphones) */
@media screen and (max-width: 480px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  #main {
    margin: 15px auto;
    padding: 10px;
  }

  ul {
    padding: 5px;
    list-style-type: square;
  }

  
}
