* {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: lightblue;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    form {
        background-color: mediumaquamarine;
        padding: 2rem;
        border-radius: 1rem;
        width: 40%;
        height: auto;
        box-sizing: border-box;
    }
}

#output, #patients {
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        font-size: 1.6rem; /* Taille de texte adaptée */
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh; /* Prend toute la hauteur de l'écran */
        background-color: mediumaquamarine;
        padding: 1.5rem; /* Espacement interne pour aérer */
        box-sizing: border-box;
    }

    input {
        width: 90%; /* Champs presque pleine largeur */
        margin-bottom: 1rem;
        padding: 0.8rem;
        font-size: 1.2rem;
    }

    button {
        width: 90%; /* Même largeur que les champs */
        min-height: 3rem;
        padding: 1rem;
        font-size: 1.4rem;
    }
}
